<form [formGroup]="otpForm" (ngSubmit)="submit()">
  <lib-ngx-otp-inputs formControlName="otp" [length]="6" [direction]="'ltr'" [inputType]="'number'" [autoSubmit]="false"
    [autoFocus]="true" [autoBlur]="true" [maskInput]="false" [inputMode]="'numeric'"
    [ariaLabels]="['1','2','3','4','5','6']" (completed)="submit()"
    (changed)="handleChange($event)"></lib-ngx-otp-inputs>

  <div style="margin-top: 1rem">
    <button type="submit">✅ Submit</button>

    <p><strong>Form Value:</strong> {{ otpForm.value | json }}</p>

    <p *ngIf="otpControl.invalid && otpControl.touched" style="color: red;">
      ❌ OTP is required and must be 6 digits
    </p>
  </div>
</form>